h2 {
    font-family: cursive;
    text-align: center;
    background-color: darkolivegreen;
    border-radius: 14px;
 }

 h1 {
    font-family: cursive;
    font-size: 40px;
    text-align: center;
}

body {
    background-color: rgb(205, 255, 211);
 } 

 
 p {
    font-family: cursive;
    font-size: 1.4em;
    text-align: justify;
    margin-bottom: 20px;
    direction: ltr;
}
 

.image-container img {
    max-width: 100%;
    margin: -10px;
    padding: 10px;
    gap: 30px;
}